@font-face {
  font-family: 'GE Inspira';
  font-style: normal;
  src: url(./assets/fonts/GEInspiraSans-Regular-v02.ttf) format('truetype');
}

html, body {
  background: url("./assets/image.jpg") !important;
  background-size: cover;
  background-position: top;
  background: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  height: 100%;
  font-family: 'GE Inspira' !important;
}

.bold {
    font-weight: bold;
}

.cursor {
    cursor: pointer !important;
}