.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.bg {
  /*background:url("../../../assets/image.jpg");*/

  background-size: auto;
  background-position: 0%;
  background-repeat: no-repeat;
}
.contents {
  overflow:hidden;
  white-space:nowrap;
  display:inline-block;
  width:0vw;
  height: 100vh;
  animation: w70 2s linear forwards;
  -webkit-animation: w70 2s linear forwards;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes w70 {
  from { width: 0vw; }
  to { width: 70vw; }
}

.left-panel-opacity{
  background:linear-gradient(rgba(0,0,0,.5));
}
p {
  text-align: justify;
}
.inp:focus {
  background-color: #13294b;
}
.sub-headline {
  font-size: 50px;
  line-height: 4rem;
  letter-spacing: 0.2em;
  overflow-wrap: break-word;
}
.logo-heading {
  font-size: 30px;
  font-weight: bold;
}

.signup-discription {
  color: #fff;
  white-space: normal;
}

.signup-form .form-group {
  margin-bottom: 20px;
}

/* animation start */
:root {
  --transform-value: -100%;
  --animation-duration: 2s;
  --animation-ease: linear;
}

@keyframes initialAnimation-horizontal {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(var(--transform-value));
    }
}

[data-animation*='first'] div:first-child, [data-animation*='first'] div:last-child {
  position: fixed;
  height: 100vh;

  top: 0;
  /* background: linear-gradient(to right, #13294b);  */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  z-index: 0;
}

[data-animation*='first'] div:first-child {
    left: 0;
    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}
[data-animation*='first'] div:last-child {
    right: 0;
    --transform-value: 70vw;
    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}
/* end right panel animation */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #00b5e2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #00b5e2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #00b5e2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #00b5e2;
}

.border-left {
  border-left: 1px solid #00b5e2 !important;
  position: absolute;
  left: 0;
  height: 300px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

#signupCheck + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    color: white;
    font-family: "GE Inspira";
}
#signupCheck + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 5px; 
  width: 20px;
  height: 20px;
  border: 1px solid #00B5E2;
  border-radius: 100%;
  background: transparent;
}

#signupCheck + label:after, #signupCheck + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #00B5E2;
  position: absolute;
  top: 9px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}