.bg {
height: 100vh;
    background:url("../../assets/image.jpg");
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
  }
  .right-panel {
  background:linear-gradient(rgba(19,41,75,.9));
  position: absolute;
  top: -8px;
  right: -10px;
  width: 50vw;
  height: 100%;
  z-index: 999;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.opened {
  animation: slide-in 2s forwards;
  -webkit-animation: slide-in 2s forwards;
}

.closed {
  animation: slide-out 2s forwards;
  -webkit-animation: slide-out 2s forwards;
  right: 20px;
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}

.open-menu-arrow{
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
-o-transform: scaleX(-1);
transform: scaleX(-1);
-ms-filter: fliph; /*IE*/
filter: fliph; /*IE*/
}

  [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #00B5E2;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: transparent;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #00B5E2;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.btm-border{
    border-bottom: 2px solid #00B5E2;
}

.inputfile {
	width: 0.3px;
	height: 0.4px;
	opacity: 0;
	/* overflow: hidden; */
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-weight: 100;
    color: #00B5E2;
    display: inline-block;
}

